<ion-view view-title="order_complete">
    <ion-header-bar class="bar-positive" align-title="center">       
        <h3 class="title"><i class="ion-checkmark"></i> Process Complete</h3>       
    </ion-header-bar>   
    <ion-content class="page padding has-footer has-header" scroll="false">
        <img src="img/ok.png" class="center_block" height="80" style="margin-top: 100px;"/>
        <h4 class="padding" style="text-align: center">Congratulations ! The delivery process completed successfully.</h4>
        <a href="#menus" class="button button-positive icon-left ion-reply center_block">Back To Menu</a>
    </ion-content>
    <div class="bar bar-footer bar-positive">
        <div class="center_block" style="font-weight:normal;font-size:12px;">Copyright &copy; 2017 Al Rumaithy Est.</div>
    </div>
</ion-view>

