<ion-view title="Chats">
    <ion-header-bar class="bar-positive" align-title="center">
        <button class="button button-clear" ng-click="myGoBack()"><i class="ion-ios-arrow-back"></i> Back</button>
        <h3 class="title"><i class="ion-clipboard"></i> Support Tickets</h3>
    </ion-header-bar>
    <ion-content class="page has-footer has-header">
        <ion-list ng-if="jobs.result !='Error'">
            <ion-item ng-repeat="job in jobs.data track by job.id" ng-click="show_comments(job.id)">
                <h2 class="positive">Ticket id : {{job.id}}</h2>
                <span class="item-note"><i class="ion-calendar positive"></i> {{job.date}} </span>
                <p>Sub : {{job.subject}} </p>

                <p>Desc : {{(job.description | limitTo: 50) + (job.description.length > 50 ? '...' : '')}} <span class="item-note"><i class="ion-ios-bell-outline positive"></i> {{job.priority}} </span></p>

            </ion-item>
        </ion-list>
        <div ng-if="jobs.result =='Error'" class="padding empty_list"></div>
    </ion-content>
    <div class="bar bar-footer bar-positive">
        <div class="center_block" style="font-weight:normal;font-size:12px;">Copyright &copy; 2017 Al Rumaithy Est.</div>
    </div>
</ion-view>